{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends getUcdTemplate('index') %}

{% block content %}
  <h3>This is my archive</h3>
  {{ parent() }}
{% endblock %}
