{% extends getUcdTemplate('base') %}

{% from getUcdMacro('cards') import teaser %}
{% from getUcdMacro('links') import pagination %}

{% block content %}
  <div class="panel o-box">
    {% if posts %}
      {% for post in posts %}
        {{ teaser({post}) }}
      {% endfor %}

      {{ pagination({"pagination": posts.pagination}) }}
    {% else %}
      <div class="alert">No posts found for specified date range!</div>
    {% endif %}
  </div>
{% endblock %}