{% extends getUcdTemplate('base') %}

{% block content %}
  <p>I will display recents posts</p>
  <p>Posts on this page: {{ posts|length }}</p>
  <p>Has pagination:
  {{posts.pagination.pages is not empty ? 'true' : 'false'}}
  </p>

{% endblock %}