{% extends getUcdTemplate('base') %}

{% from getUcdMacro('links') import pagination %}

{% block content %}
  <p>Posts on this page: {{ posts|length }}</p>
  {% for post in posts %}
    {{dump(post.title)}}
  {% endfor %}

  {{ pagination({"pagination": posts.pagination}) }}

{% endblock %}
