{% macro sidebar_placeholder(text) %}
  <div class="alert alert--warning">{{text}}</div>
{% endmacro %}

{% macro breadcrumbs() %}
  <ol class="breadcrumbs">
    <li>
      <a>Placeholder</a>
    </li>
    <li>
      <a>Breadcrumb</a>
    </li>
  </ol>
{% endmacro %}