
    <div class="alertdiv">
      <div class="divAlertIcon">
      <ucdlib-icon class="alertIcon" icon="ucd-public:fa-circle-exclamation"></ucdlib-icon>
      </div>
      <div class="divAlertContent" <b>{{content}}</b></div>
    </div>
    