<div class="hero-banner colored-section {{attributes.brandColor ? 'category-brand__background category-brand--'~attributes.brandColor}}">
  <div class="hero-banner__image u-background-image" style={{attributes.image ? "background-image:url("~attributes.image.src~")": ''}}></div>
  <div class="hero-banner__film"></div>
  <div class="hero-banner__body--innerblocks {{attributes.noPadding ? 'hero-banner__body--no-padding'}}">
    {{content}}
  </div>
</div>