<div class="ucd-block-heading-with-icon panel--icon panel--icon-custom" {{attributes.anchor ? "id='"~attributes.anchor~"'"}}>
  <h2 class="panel__title u-space-mb--flush">
  <ucdlib-icon icon="{{attributes.icon ? attributes.icon : 'ucd-public:fa-star'}}" class="panel__custom-icon {{attributes.brandColor}}"></ucdlib-icon>
  <span>{{attributes.text}}</span>
  </h2>
</div>
