{% from getUcdMacro('lists') import media_link %}
{% set classes = "media-links" %}
{% if attributes.panel %}
  {% set classes = classes ~ " u-space-mb" %}
{% endif %}
{% if attributes.oBox %}
  {% set classes = classes ~ " o-box" %}
{% endif %}
<section class="{{classes}}">
  {% for child in attributes.children %}
    {{ media_link({post: child, hideImage: attributes.hideImage}) }}
  {% endfor %}
</section>