{% from getUcdMacro('lists') import teaser %}
{% from getUcdMacro('cards') import featured_article %}

{% set classes = "" %}
{% if attributes.template == 'teaser' or not attributes.template %}
  {% set classes = classes ~ ' teasers' %}
{% endif %}
{% if attributes.panel %}
  {% set classes = classes ~ " u-space-mb" %}
{% endif %}
{% if attributes.oBox %}
  {% set classes = classes ~ " o-box" %}
{% endif %}
<section class='{{classes}}'>
{% for post in attributes.posts %}
  {% if attributes.template == 'featured' %}
    {{ featured_article( {post}) }}
  {% else %}
    {{ teaser( attributes|merge({post})) }}
  {% endif %}
  
{% endfor %}
</section>
