{% set spacingClasses = [] %}
{% if attributes.x %}
  {% set spacingClasses = spacingClasses|merge(['u-space-px--'~attributes.x]) %}
{% else %}
  {% set spacingClasses = spacingClasses|merge(['u-space-px']) %}
{% endif %}
{% if attributes.y %}
  {% set spacingClasses = spacingClasses|merge(['u-space-py--'~attributes.y]) %}
{% else %}
  {% set spacingClasses = spacingClasses|merge(['u-space-py']) %}
{% endif %}

<div class="{{spacingClasses|join(' ')}}"></div>