{% set classes = "teasers" %}
{% if attributes.panel %}
  {% set classes = classes ~ " u-space-mb" %}
{% endif %}
{% if attributes.oBox %}
  {% set classes = classes ~ " o-box" %}
{% endif %}
<section class="{{classes}}">{{content}}</section>