@use "@ucd-lib/theme-sass/0_tools" as *;
@use "@ucd-lib/theme-sass/2_base_class/tables-mixin" as *;

.pullquote cite {
    position: relative;
    display: inline-block;
    padding: .5em 1.5em;
    color: $brand--primary-80;
    font-size: .875em;
    font-style: italic;

    .category-brand__background & {
      color: var(--category-brand-contrast-color, #{$brand--primary-80});
    }
}
.pullquote cite::before {
    position: absolute;
    z-index: -1;
    top: -.125em;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    border: .25em solid #6fcfeb;
    content: "";
    transform: skewX(-15deg);
}

figure.table--bordered table {
  @include table--bordered();
}

.wp-block-media-text .wp-block-media-text__content {
  padding: 0 !important;
}
@media ( max-width: 600px){
  .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
    margin-left: 0;
  }
  .wp-block-media-text.is-stacked-on-mobile.margin--flush .wp-block-media-text__content {
    margin-left: 0;
  }
  .wp-block-media-text.is-stacked-on-mobile.margin--small .wp-block-media-text__content {
    margin-left: 0;
  }
  .wp-block-media-text.is-stacked-on-mobile.margin--large .wp-block-media-text__content {
    margin-left: 0
  }
  .wp-block-media-text.is-stacked-on-mobile.margin--xlarge .wp-block-media-text__content {
    margin-left: 0;
  }
}
.wp-block-media-text .wp-block-media-text__content {
  margin-left: 1rem;
}
.wp-block-media-text.margin--flush .wp-block-media-text__content {
  margin-left: 0;
}
.wp-block-media-text.margin--small .wp-block-media-text__content {
  margin-left: .5rem;
}
.wp-block-media-text.margin--large .wp-block-media-text__content {
  margin-left: 1.5rem;
}
.wp-block-media-text.margin--xlarge .wp-block-media-text__content {
  margin-left: 2rem;
}

$sizes: 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;
@each $size in $sizes {
  .wp-block-image.pct-width--#{$size} {
    figure {
      width: #{$size + '%'};
      img {
        width: 100%;
      }
    }
  }
}

