// things here should be moved to ucd-lib/theme-sass

// used in see all links:
//http://dev.webstyleguide.ucdavis.edu/redesign/?p=organisms-article-list
a.icon--circle-arrow-right::before {
  color: var(--category-brand, #73abdd);
}


.aspect--13x5 {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 35%;
}
.aspect--13x5 > img {
  position: absolute;
  top: 0;
}
.aspect--13x3 {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 23.07%;
}
.aspect--13x3 > img {
  position: absolute;
  top: 0;
}

//marketing highlight
.marketing-highlight:hover .marketing-highlight__image .u-background-image {
  transform: scale(1.1);
}
.marketing-highlight__image .u-background-image {
  transition: transform .3s ease-in-out;
}

// marketing highlight horizontal
.marketing-highlight-horizontal:hover .u-background-image {
  transform: scale(1.05);
}
.marketing-highlight-horizontal__image .u-background-image {
  transition: transform .3s ease-in-out;
}
.marketing-highlight-horizontal {
  display: block;
}

// hero banner
.hero-banner__film {
  background: var(--category-brand, #fff);
  height: 100%;
  grid-area: hero;
  opacity: 60%;
}
.hero-banner__body--innerblocks {
  z-index: 1;
  grid-area: hero;
  padding: 2rem 8%;
}
.hero-banner__body--no-padding {
  padding: 0 !important;
}

// background image utility
.u-background-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// for priority links
.vertical-link--circle ucdlib-icon.vertical-link__image {
  height: 50%;
}

// for focal link

.focal-link__icon ucdlib-icon {
  width: 35px;
  min-width: 35px;
  height: 35px;
  min-height: 35px;
}

// for panel w/ icon
ucdlib-icon.panel__custom-icon {
  color: var(--category-brand, #022851)
}
.panel--icon .panel__title {
  align-items: center;
  margin-bottom: 1rem;
}
.panel__title ucdlib-icon {
  width: 1.6055rem;
  height: 1.6055rem;
  margin-right: .5rem;
}
@media (min-width: 768px) {
  .panel__title ucdlib-icon {
    width: 2.47rem;
    height: 2.47rem;
    margin-right: 1rem;
  }
}

// for the icon class
a.icon-ucdlib, span.icon-ucdlib {
  display: flex;
  align-items: center;

  ucdlib-icon {
    color: var(--category-brand, #73abdd);
    margin-right: .25rem;
    min-width: 1rem;
    min-height: 1rem;
    width: 1rem;
    height: 1rem;
  }
}
.panel a.icon-ucdlib ucdlib-icon {
  margin-right: .5rem;
  min-width: .9rem;
  min-height: .9rem;
  width: .9rem;
  height: .9rem;
}

// white space utility
.u-white-space--normal {
  white-space: normal !important;
}
.u-white-space--nowrap {
  white-space: nowrap !important;
}
.u-white-space--pre {
  white-space: pre !important;
}
.u-white-space--pre-wrap {
  white-space: pre-wrap !important;
}
.u-white-space--pre-line {
  white-space: pre-line !important;
}
.u-white-space--break-spaces {
  white-space: break-spaces !important;
}

// shrink class
.l-shrink.l-shrink--60 {
  width: 60%;
}

// space utility
@media (max-width: 479px) {
  .u-width--100-in-mobile {
    width: 100% !important;
  }
}
@media (max-width: 767px) {
  .u-width--100-in-tablet {
    width: 100% !important;
  }
}

// background brand colors
.category-brand__background p {
  color: var(--category-brand-contrast-color, inherit);
}

.select-container--blue select{
  background-color: #B0D0ED;
  color: #022851;
  font-weight: 700;
  border: none;
  font-size: 1rem;
}
.select-container--blue select:focus {
  background-color: #b0d0ed;
  border: 1px solid #999;
}
select.select--blue {
  background-color: #B0D0ED;
  color: #022851;
  font-weight: 700;
  border: none;
  font-size: 1rem;
}
select.select--blue:focus {
  background-color: #b0d0ed;
  border: 1px solid #999;
}

// linked header classes
// https://github.com/UCDavisLibrary/ucdlib-theme-wp/issues/103
$headingClasses: "primary" "secondary" "auxiliary" "highlight" "underline" "weighted" "weighted-underline" "invert" "invert-box" ;
$headerLevels: 1,2,3,4,5;

@each $level in $headerLevels {
  h#{$level} {
    @each $c in $headingClasses {
      &.heading--#{$c} a {
        color: inherit;
      }
    }
  }
}

hr {
  border-top: 1px solid;
}

hr.dotted {
  border-top: 4px dotted;
}

.bg-color-float {
  width: 33%;
}

@media (max-width: 767px) {
  .bg-color-float {
    width: 50%;
  }
}