// things here should be moved to ucd-lib/theme-sass

// used in see all links:
//http://dev.webstyleguide.ucdavis.edu/redesign/?p=organisms-article-list
a.icon--circle-arrow-right::before {
  color: var(--category-brand, #73abdd);
}


.aspect--13x5 {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 35%;
}
.aspect--13x5 > img {
  position: absolute;
  top: 0;
}
.aspect--13x3 {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 20.91%;
}
.aspect--13x3 > img {
  position: absolute;
  top: 0;
}

// for priority links
.vertical-link--circle ucdlib-icon.vertical-link__image {
  height: 70%;
}

// for focal link

.focal-link__icon ucdlib-icon {
  width: 35px;
  min-width: 35px;
  height: 35px;
  min-height: 35px;
}

// for panel w/ icon
ucdlib-icon.panel__custom-icon {
  color: var(--category-brand, #022851)
}
.panel__title ucdlib-icon {
  width: 1.6055rem;
  height: 1.6055rem;
  margin-right: .5rem;
}
@media (min-width: 768px) {
  .panel__title ucdlib-icon {
    width: 2.47rem;
    height: 2.47rem;
    margin-right: 1rem;
  }
}

// for the icon class
a.icon-ucdlib {
  display: flex;
  align-items: center;

  ucdlib-icon {
    color: var(--category-brand, #73abdd);
    margin-right: .25rem;
    min-width: 1rem;
    min-height: 1rem;
    width: 1rem;
    height: 1rem;
  }
}

// white space utility
.u-white-space--normal {
  white-space: normal !important;
}
.u-white-space--nowrap {
  white-space: nowrap !important;
}
.u-white-space--pre {
  white-space: pre !important;
}
.u-white-space--pre-wrap {
  white-space: pre-wrap !important;
}
.u-white-space--pre-line {
  white-space: pre-line !important;
}
.u-white-space--break-spaces {
  white-space: break-spaces !important;
}