{# 
http://dev.webstyleguide.ucdavis.edu/redesign/?p=molecules-media-link
kwargs:
  post {Timber\Post} - A post on this site.
  imageId {Number} - Id of an image. Will override 'post' featured image
  image {Timber\Image} - A preview image. Will override 'post' featured image and imageId
  title {String} - The card title. Will override 'post' title
  href {String} - Url for card link. Will override 'post' permalink
  newTab {Boolean} - Opens card link in new tab
  excerpt {String} - Body/preview text of card. Will override 'post' excerpt
  hideImage {Boolean} - Hides the image
  hideByline {Boolean} - Hides the byline
  hideCategories {Boolean} - Hides the categories
#}
{% macro media_link( kwargs = {}) %}

  {% set title = kwargs.title ? kwargs.title : kwargs.post.title %}
  {% set excerpt = kwargs.excerpt ? kwargs.excerpt : kwargs.post.excerpt({ read_more: '' }) %}
  {% set href = kwargs.href ? kwargs.href : kwargs.post.link %}
  {% set target = kwargs.newTab ? "target='_blank'" : "" %}

  {% if kwargs.image %}
    {% set src = kwargs.image.src %}
    {% set alt = kwargs.image.alt %}
  {% elseif kwargs.imageId %}
    {% set i = get_post(kwargs.imageId) %}
    {% set src = i.src %}
    {% set alt = i.alt %}
  {% elseif kwargs.post.thumbnail %}
    {% set src = kwargs.post.thumbnail.src %}
    {% set alt = kwargs.post.thumbnail.alt %}
  {% else %}
    {% set src = DefaultImage('media-link') %}
  {% endif %}

  <a href="{{href}}" class="media-link">
    {% if not kwargs.hideImage %}
      <div class="media-link__figure u-background-image" style="background-image:url({{src}})">
      </div>
    {% endif %}
    <div class="media-link__body">
      <h3 class="media-link__title">{{title}}</h3>
      <p>{{excerpt}}</p>
    </div>
  </a>

{% endmacro %}